# Fichiers système
.DS_Store
*.local

# Logs
*.log
npm-debug.log*

# Environnements virtuels
.env/
venv/

# Django
__pycache__/
*.py[cod]
*.sqlite3

# Node.js
node_modules/
dist/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
